.jumbotron {
  margin-top: 50px;
  background-color: black;
  color: #ab7e2d;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: #0f0f12;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn {
  background-color: green;
  color: white;
}
.footer-address-icon {
  padding-right: 10px;
}
.plus-icon {
  padding-right: 10px;
  color: yellow;
}
.card-restaurant {
  flex: 1 200px;
  padding: 0px 0 0px 0px;
  margin-top: 30px;
}
.tab-content {
  padding-top: 30px;
}
.card-tarjetas {
  background: White ;
  border: none;
}
.table-row {
  color: Black;
}
.botones_colapsables {
  padding: 20px 20px 20px 20px;
}
